<!--

How would you like your people sorted? ('first_name', 'last_name')
{% assign sorted_people = people | sort: 'last_name' %}

What Organization Logo do you want in your header?
{% assign org_logo = 'https://avatars.planningcenteronline.com/uploads/organization/35565-1346205702/avatar.4.png'%}
-->





<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ helpers.bootstrap_3 }}
    <!-- This report is styled using the Bootstrap framework. http://getbootstrap.com/css/ 
				 If you'd rather provide your own styles, add them to the style section below. -->
    
    <style>
      	.person { page-break-inside: avoid; page-break-after: always;}
      	img.org-logo {height: 80px;}
    </style>
  </head>
  
  
  <!-- This is what makes the "Print to PDF" link at the top" -->
  <body>
    <div class="hidden-print">
      <div class="alert alert-warning hidden-print" role="alert">
        <a href="https://people.planningcenteronline.com/reports/{{ report.id }}.pdf?list_id={{list.id}}" class="alert-link">Print to PDF</a>
      </div>    
    </div>
    
    
    <!-- This container is what gives your letter margins. -->
    <div class="container">
      
      
      
      {% for person in sorted_people %}
      <!-- Everything in the following "person" div gets repeated for each person in your list -->
      <div class="person">
       
        
        <!-- This is where the Letter Content starts the <br> give margin at the top of your page. 
				Add or remove <br> to make it fit your stationary. -->
       <div><br><br>
         
        <!-- Make your logo justify right -->
         <div class="pull-right"> 
        
        <!-- If your not using a logo delete the <img class="org-logo" src="{{ org_logo }}"></div> line below.
					You can adjust the size by changing height 80px above where it says img.org.logo.-->   
        <img class="org-logo" src="{{ org_logo }}"></div>
        
        
        
        <!-- If you don't want your Organization Name at the top delete the {{organization.name}} below -->
        <h2>
          {{ organization.name }}</h2><hr>
         
         
         
         <!-- Add or remove <br> to adjust the spacing below Organization Name and the salutation. -->
         <br><br><br><br>
        
         
         <!-- This is the Address on the right hand side. -->  
          <div class="pull-right">
            
          <div class="text-right text-muted">
            {% if person.addresses != empty %}
                          {% for address in person.addresses %}
                            <address>
                              {{ address.postal_address }} <!--({{ address.location }})-->
                            </address>
                          {% endfor%}               
                      {% endif %}
          </div>
          
            
          
          <!-- This is the Salutation. -->  
          <div class="media-body">
          <h4 class="media-heading">Dear {{ person.name_prefix }}
                  {{ person.first_name }}
                  {{ person.middle_name }}
                  {{ person.last_name }}
                  {{ person.name_suffix }}Family,
              <br>
              <br>
            </h4> 
            
            
            
            <!-- This is the body of your letter. Put two <br> at the end of each paragraph. -->
            <body><p>
              
   
This marks twelve years for Pastor Joe and I as ordained Pastors at CBC. But it is one year and seven months into my tenure as Lead Pastor. It has gone by so fast! This year we had seven people baptized, and at least sixty professions of faith! Another D1 and D2 class has graduated. We have seventy-four people meeting regularly in twelve different small groups! That doesn’t even count the children who also meet in small groups Sunday Morning.<br><br>
I’m so thankful for the faithful service of Pastor Joe who has coordinated our new parking, two driveways, bathroom remodeling, our transportation team & fleet, and is continuing the hard work of planning and preparation for our new building project.<br> <br>
Johnell has done an amazing job recruiting and training a top notch children's ministry team! One visitor just told me they decided to become a part of our church in part because our children’s ministry is so organized and well run. I know how much our kids ministry workers care about their students, and I couldn't be more proud of the work they do every week on Sundays and Wednesdays.<br><br>
Our youth group is continuing to grow. We have 8 adults leading youth small groups! We just had to branch one of our middle school boys small groups because it just keeps growing!<br> <br>
Calvary Baptist Church has the best volunteers I’ve ever had the privilege to serve with! On an average Sunday Morning there are about 35 people volunteering to serve every week! They serve because they want to help broken people find hope in Jesus Christ. That is why we are here.<br><br>
January 2017 will kickoff with Baptism and new D1 & D2 classes! This year we will walk through the stories in the Old Testament as we see how story after story God calls his broken people to find hope in him.<br>
This year’s Christmas offering will go toward the hallway floors that desperately need replaced. Christmas Eve we will give a special offering to the Salvation Army. Because God has blessed us we will bless our community! Thank you for your faithful giving to help broken people find hope!<br><br>
<br><br>
Pastor Ron Hudson
            </body></p>           
        </div>

        
      </div>
  </div>
  </div>
    {% endfor %}
    </div>
  </body>
</html>